// margin
//html, body{overflow-x: hidden;}

body{
  background-color: var(--bg);
  overflow-x: hidden;
}

:root{
::selection, ::-moz-selection  {
  background-color: $cr;
  color: white;
}
  
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
