html {
    box-sizing: border-box;
    text-decoration-skip-ink: auto;
}


body, html{
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
    // overflow-x: hidden;
    // overflow-y: auto;

    @media screen{
	   max-width: 100vw; // Le problème de scroll barre horizontal venait de là. Changement width en max-width.
    }
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    position: relative;
    //-moz-box-sizing: border-box; 
    //-webkit-box-sizing: border-box; 
    //box-sizing: border-box;
    -moz-box-sizing: content-box; 
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-smooth: never;
    -moz-font-smooth: never;
    
   }

em { font-style: italic; }

button {
    border: none;    
    outline: none;
}

a { 
    text-decoration: none;
    color: currentColor;
}

a:hover{
    text-decoration: none;
}

ul {
 list-style-type: none; 
 list-style-position: inside;
}

*:focus{
    outline: none;
}