{{ define "main" }}
	<main data-page="vision"class="--page">
		<article>
 
      {{ with .Page.Resources.Match .Params.cover.file }}
          {{ range . }}
              {{ partial "img" (dict "context" . "alt" .Params.cover.alt) }}
          {{ end }}
      {{ end }}
      
			<header>
				<h1>{{.Title}}</h1>
			</header>
			
			<div class="container">
			{{ .Content}}
			</div>

			<aside>
				{{ with .Params.partenaires }}
					<h3>Nos partenaires</h3>
		      <ul>
		      {{ range  . }}
	          	<li><a href="{{index . 1}}" target="_blank" rel="noopener noreferrer">{{index . 0}}</a></li>
		      {{ end }}
		      </ul>
	      {{ end }}
				{{ with .Params.adherents }}
					<h3>Nous sommes adhérents</h3>
		      <ul>
		      {{ range  . }}
	          	<li><a href="{{index . 1}}" target="_blank" rel="noopener noreferrer">{{index . 0}}</a></li>
		      {{ end }}
		      </ul>
	      {{ end }}
			</aside>
			
		</article>
	</main>
{{ end }}