{{ define "main" }}
	<!-- Cette page duplique des bouts de code précédemment utilisés -->
	
	<section id="cover" class="chapter">
		<h1>{{ .Title }}</h1>
		<p contenteditable>{{ .Params.subtitle }}</p>
		{{ partial "svg" "praxie_logo" "main_logo" }}
	</section>

	<!-- Vision -->
	<!--<section data-page="vision" class="--page">
		{{ with .Site.GetPage "section" "vision" }}
				<article>		      
					<header>
						<h1>{{.Title}}</h1>
					</header>
					
					<div class="container">
					{{ .Content }}
					</div>
					
					<aside>
						{{ with .Params.partenaires }}
							<h3>Nos partenaires</h3>
				      <ul>
				      {{ range  . }}
			          	<li><a href="{{index . 1}}" target="_blank" rel="noopener noreferrer">{{index . 0}}</a></li>
				      {{ end }}
				      </ul>
			      {{ end }}
						{{ with .Params.adherents }}
							<h3>Nous sommes adhérents</h3>
				      <ul>
				      {{ range  . }}
			          	<li><a href="{{index . 1}}" target="_blank" rel="noopener noreferrer">{{index . 0}}</a></li>
				      {{ end }}
				      </ul>
			      {{ end }}
					</aside>
				</article>
		{{ end }}
	</section>-->


	<!-- Offre -->
	<!--<section data-page="offre" class="--page">
		{{ range (where .Site.Pages "Section" "offre") }}

			{{ if eq .Params.type "offre"}}
      <div class="intro">
          {{.Content}}
      </div>
    	{{ end }}
    {{ end }}

		{{ range (where .Site.Pages "Section" "offre") }}
      {{ if ne .Params.type "offre" }}
      <section  id="{{.Params.nature | safeURL}}" aria-label="En savoir plus sur nos prestation de {{ .Params.nature }}">
          <header>
              <p class="flag" aria-hidden>{{.Params.nature}}</p>
              <h2>{{.Title}}</h2>
          </header>
          <div class="container">
              {{.Content }}

              <aside class="accordion" aria-label='Nos méthodes'>
                  <h3>Nos méthodes</h3>
                  <ul aria-label="Notre méthodes, en détails">
                  {{ range $ii, $m :=  .Params.methodes }}
                      <li >
                          <h4>
                          <label >
                              {{ .titre }}
                          </label>
                          </h4>
                          <div>
                              {{ .texte | markdownify}}
                          </div>
                      </li>
                  {{ end }}
                  </ul>
              </aside>   

          </div>
          <aside class="projets" aria-label="Quelques exemple de projets de {{ .Params.nature }}">
              <h3>Exemples de projet</h3>
              <ul>
              {{ range .Params.projets }}
                  <li class="link"><a href="{{.link}}">{{ .nom }}</a></li>
              {{ end }}
              </ul>

          </aside>
      </section>
      {{ end }}
    {{ end }}
	</section>-->

	<!-- Equipe -->
		<section class="chapter">
			<h1>Notre équipe</h1>
		</section>

		<section data-page="equipe">

        <div class="intro" aria-label="Introduction">
        	{{ range (where .Site.Pages "Section" "equipe") }}
        		{{ with .Params.intro.generale }}
            	<p>{{ .| markdownify }}</p>
          	{{ end }}
          {{ end }}
        </div>

        <section id="praxie" class="membres">
            <h2 class="sr-only">l'equipe Praxie</h2>
            <ul>
						{{ range (where .Site.Pages "Section" "equipe") }}
	            {{ range sort .Pages ".Params.statut" }}
	            	{{if ne .Params.statut "partenaire"}}
            			{{$context := . }}
    	            <li class="personne" aria-label="Fiche de {{ .Title }} ">
    	            		<figure>
                        <img src='/equipe/{{print (replace .Title "é" "e") }}.jpg'>    	            			
    	            		</figure>
    	                <h3 aria-label="Nom">{{.Title}}</h3>
    	                <p aria-label="Role">{{.Params.role}}</p>
    	                <p aria-label="description">{{.Content | markdownify}}</p>
    	            </li>
	            	{{ end }}
	            {{ end }}
            {{ end }}
            </ul> 
        </section>

<!--         <section id="partenaires" class="membres">
            <h2 class="">Nos partenaires privilégiés</h2>
            <ul>
            {{$context := . }}
            {{ range (where .Site.Pages "Section" "equipe") }}
	            {{ range sort .Pages ".Params.statut" }}
	                {{if eq .Params.statut "partenaire"}}
	                    {{if eq .Params.actif true}}
	                        <li class="personne" aria-label="Fiche de {{ .Title }} ">
				    	            		<figure>
				                        <img src='/equipe/{{print (replace .Title "é" "e") }}.jpg'>    	            			
				    	            		</figure>
	                            <h3 aria-label="Nom">{{.Title}}</h3>
	                            <p aria-label="Role">{{.Params.role}}</p>

	                            <ul aria-label="Contact">
	                                {{ range .Params.contact}}
	                                    <li>
	                                    {{ if eq (index . 0) "mail" }}
	                                        {{$v := split (index . 1) "" }}
	                                        {{$rv := partial "obfuscate.html" $v }}
	                                        <a href="" aria-label="mail" class="obf humanize" data-obf='{{ delimit $rv "" }}'href="{{index . 1}}">Mail</a>
	                                    {{ else }}
	                                        <a href="{{index . 1}}"  target="_blank" rel="noopener noreferrer">{{index . 0}}</a>
	                                    {{ end }}
	                                    </li>
	                                {{end}}
	                            </ul>
	                        </li>
	                    {{ end }}
	                {{ end }}
	            {{ end }}
            {{ end }}
            </ul>
        </section> -->

    </section>

	<!-- Liste de Projet -->
	<section class="chapter">
		<h1>Projets</h1>
	</section>

	<!-- <section data-page="projet_list">
		<ul id="list">
			{{ range (where .Site.Pages "Section" "projets") }}
		  	{{ range sort .Pages "File.Path" "desc" }}
		      <li aria-label="{{ .Title }}" {{ if .Params.auto_initié }}data-self_initiatied="true"{{end}}>
		          <a href="{{.Permalink | safeURL}}" aria-label="Accéder à la page">
		              <header>
		          	   	<h1>
											<span class="title">
											    {{.Title | markdownify }}
											</span>
											{{ if not .Params.auto_initié }}
											    {{ with .Params.details.Commanditaire }}
											        {{ if reflect.IsMap . }}
											            <span class="commanditaire">{{ .nom }}</span>
											        {{ else }}
											            <span class="commanditaire">{{ . }}</span>
											        {{ end }}
											    {{end}}
											{{else if .Params.auto_initié }}
											    {{ partial "svg" "praxie_picto" }}
											{{end}}
		                 </h1>
		              </header>
		          </a>
		      </li>
				{{ end }}
			{{ end }}
		</ul>
	</section> -->

	<!-- Projets -->

	{{ range (where .Site.Pages "Section" "projets") }}
		{{ range sort .Pages "File.Path" "desc" }}
  		{{ if .Params.map }}
  			<section data-page="projet" class="--page">
					<article id="{{.Title | safeURL}}" class="open">
				    	<header>
				    		{{if .Params.subtitle }}<hgroup>{{end}}
				    		<p class="flag">Projet {{ if .Params.auto_initié }}auto-initié{{end}}</p>
				    		<h1>{{.Title | markdownify }}</h1>
				    		<p class="subtitle">{{.Params.subtitle}}</p>
				    		{{if .Params.subtitle }}</hgroup>{{end}}
			        </header>

			            <div class="medias">
										<div class="wrapper">
											{{ $scratch := newScratch  }}
											{{ range $index, $element := .Page.Resources }}
												{{ if le $index 2 }}
													{{ if not (in $element.Name "cover") }}
														{{ if eq $element.ResourceType "image" }}
															{{ partial "img" (dict "context" $element "alt" $element.Name) }}
															{{ $scratch.Set "index" $index }}
														{{end}}
													{{end}}
												{{end}}
											{{end}}
										</div>

										{{ with .Params.legendes }}
											<div class="caption">
												{{ range $index, $element := . }}
													<p>{{$index}} — {{ $element }}</p>
												{{ end }}
											</div>
										{{ end }}
									</div>

						<div class="container">
							{{ .Content | markdownify }}
						</div>
						
						{{ partial "partials/projet_details.html" . }}

				    </article>
  			</section>
  		{{ end  }}
   	{{ end }}
	{{ end }}

	<section id="last" class="chapter">
		<h1>Merci</h1>
		{{ range .Site.Data.global.founder }}
			<address>
				<em>{{.name}}</em>
	     	{{$v := split .telephone "" }}
				{{$rv := partial "obfuscate.html" $v }}
	      <p ><a href="" aria-label="telephone" class="obf" data-obf='{{ delimit $rv "" }}'></a></p>
	      {{$v := split .mail "" }}
				{{$rv := partial "obfuscate.html" $v }}
				<p ><a href="" aria-label="mail" class="obf" data-obf='{{ delimit $rv "" }}'></a></p>
			</address>
		{{ end }}
		<p>praxiedesign.com</p>
	</section>

{{end}}

{{ define "scripts" }}
    <script type="text/javascript">/*window.print()*/ obf()</script> 
{{ end}}