<!DOCTYPE html>
<html lang="fr" xml:lang="fr" xmlns="http://www.w3.org/1999/xhtml"  class="noJs">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    {{ partial "favicon" }}
    {{ partial "seo" . }}
    {{ partial "opengraph" . }}
    {{ partial "twitter_cards" . }}
    
    <title>
        {{ block "title" . }}
            {{ if eq .Params.type "index"}}
                Praxie Design — {{ replace .Title  "_" ""}}
            {{ else if eq .Params.type "portfolio"}}
                Praxie Design — Portfolio {{ now.Year }}
            {{ else }}
                {{ replace .Title  "_" ""}} — Praxie Design
            {{ end }}
        {{ end }}
    </title>
   
    <!--CSS-->
    <link rel="stylesheet" type="text/css" href="{{.Site.BaseURL}}fonts/f1/stylesheet.css">
    {{ $options := (dict "targetPath" "css-compiled/global.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
    {{ $styles := resources.Get "scss/main.scss" | resources.ToCSS $options }}       
    <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" >

    <!--CSS PRINT -->
    {{ $options := (dict "targetPath" "css-compiled/print.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
    {{ $styles := resources.Get "scss/print.scss" | resources.ToCSS $options }}       
    <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" media="print">

    {{ block "style" . }}{{ end }}

    <link rel="alternate"
      type="application/rss+xml"
      href="{{.Site.BaseURL }}index.xml"
      title="{{ .Site.Title }}">

</head> 

<body class='{{ .Params.type | default .Section}}'>

    {{ partial "topbar.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    
    <!-- JS -->
    {{ $tools := resources.Get "js/tools.js"}}
    <script src="{{ $tools.Permalink }}"></script> 
    {{ $global := resources.Get "js/global.js"}}
    <script src="{{ $global.Permalink }}"></script> 

    {{ block "scripts" . }}{{ end }}

</body>
</html> 
 