{{ define "main" }}
    [default list]
    <main>
    	<article>
            <header>
                <h1>{{.Title}}</h1>
            </header>
            {{.Content}}
        </article>
        <ul>
        {{ range .Pages }}
            <li>
                <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
            </li>
        {{ end }}
        </ul>
    </main>
{{ end}}