{{ define "main" }}
    <main data-page="projet_list">
        <h1 class="sr-only">{{.Title}}</h1>

        <input type="radio" name="isSelf" id="all_project" checked hidden >
        <input type="radio" name="isSelf" id="self_initiatied_project" hidden >
        <input type="radio" name="isSelf" id="commercial_project" hidden >

        <fieldset role="navigation" aria-label="Trier les projets">
            <legend class="sr-only">Trier les projets</legend>
            
            <label for="all_project"
                aria-label="Afficher l'ensemble des projets">Tous les projets
            </label>
            <label for="self_initiatied_project"
                aria-label="Afficher l'ensemble des projets auto-initié">
                Exploratoire
            </label>
            <label for="commercial_project"
                aria-label="Afficher seulement les projets de type Prestation">
                Prestations
            </label>
        </fieldset>

        <ul id="list">
        {{ range sort .Pages "File.Path" "desc" }}
            {{ if .Params.map }}
            <li aria-label="{{ .Title }}" {{ if .Params.auto_initié }}data-self_initiatied="true"{{end}}>
                <a href="{{.Permalink | safeURL}}" aria-label="Accéder à la page">
                    <header>
                	   <h1>
                            <span class="title">
                                {{.Title | markdownify }}
                            </span>
                            {{ if not .Params.auto_initié }}
                                {{ with .Params.details.Commanditaire }}
                                    {{ if reflect.IsMap . }}
                                        <span class="commanditaire">{{ .nom }}</span>
                                    {{ else }}
                                        <span class="commanditaire">{{ . }}</span>
                                    {{ end }}
                                {{end}}
                            {{else if .Params.auto_initié }}
                                {{ partial "svg" "praxie_picto" }}
                           {{end}}
                        </h1>
                    </header>
                </a>
            </li>
            {{ end }}
        {{ end }}
        </ul>
    </main>
{{ end}}
{{ define "scripts" }}
    <script type="text/javascript">projectsEvent()</script> 
{{ end}}
