{{ define "style" }}{{ end }}

{{ define "main" }}
	<main data-page="projet" class="--page">
		<a href="/projets" class="goto --back" title="Retour aux projets">Retour aux projets</a>
		<article id="{{.Title | safeURL}}" class="open">

	    	<header>
	    		{{if .Params.subtitle }}<hgroup>{{end}}
	    		<h1>{{.Title | markdownify }}</h1>
	    		<p class="subtitle">{{.Params.subtitle}}</p>
	    		{{if .Params.subtitle }}</hgroup>{{end}}

				{{ if .Params.auto_initié }}
                    {{ partial "svg" "praxie_picto" }}
                {{end}}
            </header>

            {{partial "partials/carrousel.html" . }}

			<div class="container">
				{{ .Content | markdownify }}
			</div>
			
			{{ partial "partials/projet_details.html" . }}
	    </article>
	    <a href="/projets" class="goto --back" title="Retour aux projets">Retour aux projets</a>
	</main>
{{ end}}

{{ define "scripts" }}
    <script type="text/javascript">projectEvent()</script> 
{{ end}}
