{{ define "main" }}
    <main data-page="historique" class="--page">
        <article>

            <header>
                <h1>{{ .Title | markdownify }}</h1>
            </header>

            <div class="intro">
                <p>{{ .Content | markdownify }}</p>
            </div>
                
            {{ with .Page.Resources.Match .Params.cover.file }}
                {{ range . }}
                    {{ partial "img" (dict "context" . "alt" .Params.cover.alt) }}
                {{ end }}
            {{ end }}

            <section class="membres" >
                <header>
                    <h2 class="flag">Membres</h2>
                </header>

                <ul>
                {{ range (where .Site.Pages "Section" "equipe") }}

                    {{ $title := .Title }}

                    {{if eq .Params.supervitus305 true}}

                        <li class="personne" aria-label="Fiche contact de {{ .Title }} ">
                            {{$personne := .Title }}
                            {{ range (where .Site.Pages "Section" "equipe") }} 
                                {{ with .Resources.Match (print (replace $title "é" "e") "*")}}
                                    {{ range . }}
                                            {{ partial "img-s" (dict "context" . "alt" (print "Portrait de " $personne )) }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}

                            <h3 aria-label="Nom">{{.Title}}</h3>
                            <p aria-label="Role">{{.Params.role}}</p>

                            <ul aria-label="Contact">
                                {{ range .Params.contact}}
                                    <li>
                                    {{ if eq (index . 0) "mail" }}
                                        {{$v := split (index . 1) "" }}
                                        {{$rv := partial "obfuscate.html" $v }}
                                        <a href="" aria-label="mail" class="obf humanize" data-obf='{{ delimit $rv "" }}'href="{{index . 1}}">Mail</a>
                                    {{ else }}
                                        <a href="{{index . 1}}"  target="_blank" rel="noopener noreferrer">{{index . 0}}</a>
                                    {{ end }}
                                    </li>
                                {{end}}
                            </ul>
                        </li>
                    {{ end }}
                {{ end }}
                </ul>
            </section>


            <section id="Projets" aria-label="Quelques photo des projets de supervitus305">
                <header>
                    <h2 class="flag">Projets</h2>
                </header>

                {{partial "partials/carrousel.html" . }}
            </section>

        </article>

    </main>
{{end}}

{{ define "scripts" }}
    <script type="text/javascript">obf()</script> 
{{ end}}