a.goto{
	display: table;
	margin: $baseline 0;
	// padding-bottom: .25em;
	// border-bottom: 0.5px solid currentColor;
	transition: all .25s ease-in-out;

	@include f1(0, 0, $normal, $cgg);
	padding-bottom: $base;


	&:after{
		content: "";
		width: 100%;
		height: 1px;
		border-bottom: 1px solid currentColor;
		position: absolute;
		bottom: -$base;
		left: 0;
		transition: .25s ease-in-out;
	}
		
	&:before{
		content: "→";
		padding-right: 1em;
		transition: padding .25s ease-in-out;
	}

	&.--back:before{content: "←";}

	&:hover{
		color: $cr;
		&:before{padding-right: 2rem;}
		&:after{width: calc(100%);}
	}
}

aside.share{
	h3{
		margin-bottom: #{$baseline / 2};
	}
	ul{

		&:hover{
			li:not(:hover){ opacity: .3;}
		}

		li{
			padding: 2px;
			display: inline-block;
			cursor: pointer;
			transition: .25s ease-in-out;;
			opacity: 1;

			a{
				transition: none;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 20%;
					left: 50%;
		        	transform: translateY(-50%) translateX(-50%);
		        	width: 0; height: 0; 
					border: 1px solid $cr;
					border-radius: 50%;
					opacity: 0;
					transition: none;

				}
				//https://www.screenfeed.fr/blog/css3-animation-on-click-without-js-0828/
				&:not(:active):before {
					animation: click .4s ease-in-out;
					transition: width .4s step-end, height .4s step-end;
				}

				&:active:before {
					width: 36px; height: 36px; 
					transition: width .4s step-start, height .4s step-start;
				}

				@keyframes click {
					from { opacity: 1; width: 0; height: 0; }
					60%  { opacity: 1; }
					to   { opacity: 0;  width: 36px; height: 36px; }
				}

			}
		}

	}
}
