.carrousel {
  
  width: 100%;

  @media screen{
    aspect-ratio: 3/2;
    max-height: 80vh;
  }
  
  .wrapper{
    display: flex;
    list-style: none;
    overflow: auto;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    figure, video{
      flex-shrink: 0;
      width: 100%;
      scroll-snap-align: start;
      height: 100%;
    }
  }

  figure{
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;

      &.landscape{object-fit: cover;}
    }
  }

  button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background: none  ;
    color: $cr;
    z-index: 5;
    svg polyline{stroke-width: .05em;}

    &.--next{right: 0;}
    &.--previous{left: 0;}

    &[data-item="0"]{display: none;}

    &.disable{opacity: .25;}
  }
  @include before-size(desktop-900){
    button{
      width: $baseline*.75;
      height: $baseline*.75;
      padding: .5rem;

      &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff95;
        border-radius: 50%;
        mix-blend-mode: lighten;
        border: 1px solid $cr;
      }
    }
  }
  @include for-size(desktop-900){
    aspect-ratio: 16/9;
    figure img{ object-position: left; }
    button{
      width: $baseline*2;
      height: $baseline*2;
      padding: $baseline*4 $unite*.5;
      &.--previous{left: $unite*-3;}
      svg polyline{stroke-width: .025em;}
    }
  }
  @include for-size(desktop-1800){
    button{
      width: $baseline*3;
      svg polyline{stroke-width: .0125em;}
      &.--next{right: $unite*-4;}
      &.--previous{left: $unite*-4;}
    }
  }

}

html:not(.noJs) .carrousel .wrapper{ scrollbar-width: none;}
html:not(.noJs) .carrousel .wrapper::-webkit-scrollbar{ display: none;}
html.noJs .carrousel button{ display: none;}
