@media screen {
	footer{
		background: #{$cr};
		padding: $unite/2;

		p{
			@include f1(0, 0, $normal, $cw );
			font-size: .75em;
		}

		> svg{
			--cc: #{$cw};
			width: $unite*1;
			position: absolute;
			top: $baseline;
			right: $baseline;
		}

		.mentions p:last-of-type{
			text-decoration: underline;
		}

		#newsletter_container{

			width: calc(min(100%, 20rem));
			margin-top: $baseline;

			.disclaimer{
				@include f1(0, 0, $normal, $cw);
				margin: $baseline*.5 0;;
			}

			form{
				*{
					@include f1(0, 0, $normal, $cw);
				}
				input{
					@include f1(0, 0, $normal, $cw);
					background: none;
					border: 1px solid currentColor;
					display: block;
					margin: 0;
					padding: $baseline*.125 .5rem;
					width: calc(100% - #{$unite*2.5});
					font-size: .75em;
					
					&::placeholder{
						color: $cw;
					}
					
					&:last-of-type{top: -.5px;}
				}
			}

			button{
				position: absolute;
				top: 0;
				right: 0;
				height: calc(100% - .5px);
				width: calc(#{$unite*2} - 0.5px);
				padding: $baseline*.25 $baseline*.25;
				box-sizing: border-box;
				background: none;
				border: 1px solid $cw;
				transition: .25s ease-in-out;
				cursor: pointer;

				svg{
					stroke: $cw;
					width: 1.5rem;
					top: 50%;
					transform: translateX(-50%) translateY(-50%);
					left: 50%;
					position: absolute;
				}

				&:hover{
					background: $cw;
					svg polyline{stroke: $cr;}
				}
			}
		}


		@include for-size(desktop){
			height: $baseline*10;
			@include flex();
			@include justify-content(space-between);
			@include align-items(flex-end);

			div{
				display: inline-block;
				width: auto;
				&.mentions{
					width: 50%;
					p{
						display: inline-block;
						margin-right: $unite*2;
					}

				}
			}

			svg{
				width: $unite*2;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
		}

		#pied_page{
			display: none;
			p{@include f1(0);}
		}
	}
}