#topbar{
	--cc: #{$crk};
	top: 0;
	padding-top: $baseline/2;
	width: 100%;
	padding-right: $unite/2;
	padding-left: $unite/2;
	z-index: 5;
	position: relative;

	& + main{
		margin-top: $baseline * 2;
	}
	
	nav{
		width: 100%;
		color: $crk;
		ul{
			li{
				display: inline-block;
				vertical-align: top;
				&.index{
					width: 100%;
					max-height: 5rem;
					transition: max-height .25s ease-in-out;
					overflow: hidden;
					top: .75rem;
					margin-bottom: #{$baseline/2};

					a{ 
						display: inline-block; 
						width: 100%; 
						height: 100%;
					}

					svg{
						max-width: 9rem;
						left: -7px;
						--cc: #{$cr};
					}
				}

				&:not(.index) li{
					@include f1(0, 0, $bold, $crk);
					padding: $baseline/2 .5em $baseline/4 0;
					text-transform: capitalize;


					&:after{
						content: '';
						position: absolute;
						left: 0;
					    bottom: 0;
						width:0;
						height: 1px;
						transition: .25s ease-in-out;
						border-bottom: $border;
					}
				}
			}
		}
	}

	@include before-size(desktop-900){

		box-sizing: border-box;

		label[for="mobileOpen"]{
			display: inline-block;
			position: absolute;
			top: $baseline*1;
			right: $unite;

			width: 2rem;
			height: 1.5rem;
			z-index: 5;
			cursor: pointer;


			&:after, &:before{
				content: '';
				position: absolute;
				left: 0;
			    top: .5rem;
				width: 100%;
				height: .5rem;
				transition: .25s ease-in-out;
			}

			&:before{border-top: 1px solid $cr;}
			&:after{border-bottom: 1px solid $cr;}
		}

		nav{
			li.pages, li.index{
				max-width: 80vw;
				display: block;
			}
			li.pages{
				max-height: 0;
				overflow: hidden;
				height: 100%;
				transition: max-height 0s ease-in-out;

				li{
					display: table;

				}
			}
		}
	}

	@include for-size(desktop-900){

		position: fixed;
		max-height: $baseline*2;
		
		&.xs{
			background: var(--bg);
			transition: background .25s ease-in-out;
			nav ul li.index{
				max-height: 1.75rem;
			}
		}

		& + main{
			margin-top: $baseline * 7;
		}

		label[for="mobileOpen"]{ display: none; }

		nav > ul{
			display: grid;
			grid-template-columns: calc(var(--force) - 1rem) auto;
			grid-template-rows: 1fr;
			li{
				&:not(.index){
					margin-right: $unite*1.5;
					margin-bottom: $baseline/4;

					ul{
						display: grid;
						grid-template-columns: repeat(5, 6rem) 1fr;
						grid-template-rows: 1fr;
					}

					li{

						&:hover:after{
							width: 100%;;
						}
					}
				}
				&.index{grid-row: 1/3;}
				&.contact{
					grid-column: 8;
					text-align: right;
				}
			}
		}
	}
}

@include before-size(desktop-900){

	#mobileOpen:checked ~ #topbar nav{

		position: fixed;
		
		&:before{
			content: '';
			position: absolute;
			left: -1rem;
		    top: -1rem;
			width: calc(100% + 2rem);
			height: calc(100% + 2rem);
			background: $cw;
			transition: .25s ease-in-out;
			border-bottom: 1px solid $cr;
		}


		li.pages{
			max-height: 100vw;
			transition: max-height .25s ease-in-out;
			overflow: visible;

			> ul > li{
				width: 100%;
				&:before{
					content: "";
					position: absolute;
					top: 0;
					left: $unite*-.5;
					width: 0;
					height: 100%;
					transition: .25s ease-in-out;
					width: 100vw;
				}
				&:not(:last-of-type):before{
					border-bottom: 1px solid #f3f3f3;
				}
				&:hover:before{
					border-color: $cr;
				}

				&:after{max-width: 5rem;}

				a{display: block;}
			}
		}
	}

	#mobileOpen:checked ~ main {margin-top: $baseline*5.25;}


	#mobileOpen:checked + header label {
		&:before, &:after{height: 1px;}
		&:before{transform: rotate(45deg);}
		&:after{transform: rotate(-45deg);}
	}	
}


body.vision #topbar nav li.pages li.vision:after{width: 100%;}
body.offre #topbar nav li.pages li.offre:after{width: 100%;}
body.equipe #topbar nav li.pages li.equipe:after{width: 100%;}
body.projet_list #topbar nav li.pages li.projets:after{width: 100%;}
body.projets #topbar nav li.pages li.projets:after{width: 100%;}
body.actu_list #topbar nav li.pages li.actu:after{width: 100%;}
body.actu #topbar nav li.pages li.actu:after{width: 100%;}
body.contact #topbar nav li.pages li.contact:after{width: 100%;}


body.contact #topbar nav li{
	color: $cw !important; 
	&.index svg{ --cc: #{$cw};}
}

body.contact #mobileOpen:checked ~ #topbar nav:before{background: $cr; border-color: $cw;}

body.index #topbar {
	position: absolute;
	@include for-size(desktop-900){
		position: fixed;
	}
}

@media print {

	#topbar {
		position: absolute;
		nav ul li.index{ 
			max-height: 1.75rem;
			left: 10mm;
     		top: 10mm;
		}
		.pages{ display: none; }
	}

}