{{ define "main" }}
    <main data-page="equipe" class="--page">

        <h1 class="sr-only">{{ .Title }} </h1>

        <div class="intro" aria-label="Introduction">
            <p>{{.Params.intro.generale | markdownify }}</p>
        </div>

        <section id="praxie" class="membres">
            <h2 class="sr-only">l'equipe Praxie</h2>
            <ul>
            {{$context := . }}
            {{ range sort .Pages ".Params.statut" }}
            	{{if ne .Params.statut "partenaire"}}
    	            <li class="personne large" aria-label="Fiche de {{ .Title }} ">
                        {{$personne := .Title }}
    	            	{{ with $.Resources.Match (print (replace .Title "é" "e") "*") }}
                            {{ range . }}
                                {{ partial "img-s" (dict "context" . "alt" (print "Portrait de " $personne )) }}
                            {{ end }}
                        {{ end }}
    	                <h3 aria-label="Nom">{{.Title}}</h3>
    	                <p aria-label="Role">{{ replace .Params.role ". " ".<br>" | safeHTML }}</p>
    	                <p aria-label="description">{{.Content | markdownify}}</p>
    	            </li>
            	{{ end }}
            {{ end }}
            </ul> 
        </section>

        <section id="partenaires" class="membres">
            <h2 class="">Nos partenaires privilégiés</h2>
            <div class="intro">
                {{.Params.intro.partenaires}}
            </div>
            <ul>
            {{$context := . }}
            {{ range sort .Pages ".Params.statut" }}
                {{if eq .Params.statut "partenaire"}}
                    {{if eq .Params.actif true}}
                        <li class="personne" aria-label="Fiche de {{ .Title }} ">
                            {{$personne := .Title }}
                            {{ with $.Resources.Match (print .Title "*") }}
                                {{ range . }}
                                    {{ partial "img-s" (dict "context" . "alt" (print "Portrait de " $personne )) }}
                                {{ end }}
                            {{ end }}
                            <h3 aria-label="Nom">{{.Title}}</h3>
                            <p aria-label="Role">{{.Params.role}}</p>

                            <ul aria-label="Contact">
                                {{ range .Params.contact}}
                                    <li>
                                    {{ if eq (index . 0) "mail" }}
                                        {{$v := split (index . 1) "" }}
                                        {{$rv := partial "obfuscate.html" $v }}
                                        <a href="" aria-label="mail" class="obf humanize" data-obf='{{ delimit $rv "" }}'href="{{index . 1}}">Mail</a>
                                    {{ else }}
                                        <a href="{{index . 1}}"  target="_blank" rel="noopener noreferrer">{{index . 0}}</a>
                                    {{ end }}
                                    </li>
                                {{end}}
                            </ul>
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}
            </ul>
        </section>
        <section id="presents" class="others" data-member="{{ if .Params.present_members}}true{{else}}false{{end}}" >
            <h2 class="">En stage chez nous actuellement</h2>
            <ul>
                {{ range .Params.present_members }}
                    <li class="personne"  aria-label="Fiche de {{ .nom }} ">
                        {{ with .link }}<a href="{{.}}">{{end}}
                        <p aria-label="Nom">{{.nom}}</p>
                        {{ with .role }}
                            <p aria-label="Role">{{.}}</p>
                        {{end}}
                        {{ with .link }}<a>{{end}}
                    </li>
                {{end}}
            </ul>
        </section>
        <section id="anciens" class="others" data-member="{{ if .Params.past_members}}true{{else}}false{{end}}">
            <h2 class="">Ils sont passés par chez nous</h2>
            <ul>
                {{ range .Params.past_members }}
                    <li class="personne"  aria-label="Fiche de {{ .nom }} ">
                        {{ with .link }}<a href="{{.}}">{{end}}
                        <p aria-label="Nom">{{.nom}}</p>
                        {{ with .role }}
                            <p aria-label="Role">{{. | markdownify}}</p>
                        {{end}}
                        {{ with .link }}<a>{{end}}
                    </li>
                {{end}}
            </ul>
        </section>
    </main>
{{end}}


{{ define "scripts" }}
    <script type="text/javascript">obf()</script> 
{{ end}}