{{ define "main" }}
    <main data-page="offre" class="--page">

        <h1 class="sr-only">{{ .Title }} </h1>

        <div class="intro">
            {{.Content}}
        </div>
        {{ range $i, $p := .Pages }}

        <section  id="{{.Params.nature | safeURL}}" aria-label="En savoir plus sur nos prestation de {{ .Params.nature }}">
            <header>
                <p class="flag" aria-hidden>{{.Params.nature}}</p>
                <h2>{{.Title}}</h2>
            </header>
            <div class="container">
                {{.Content }}

                <aside class="accordion" aria-label='Nos méthodes'>
                    <h3>Nos méthodes</h3>

                    <ul aria-label="Notre méthodes, en détails">
                    {{ range $ii, $m :=  .Params.methodes }}
                        <li data-el="m-{{$i}}-{{$ii}}">
                            <details>
                                <summary>{{ .titre }}</summary>
                                {{ .texte | markdownify}}
                            </details>
                        </li>
                    {{ end }}
                    </ul>
                    
                </aside>   

            </div>
            <aside class="projets" aria-label="Quelques exemple de projets de {{ .Params.nature }}">
                <h3>Exemples de projet</h3>
                <ul>
                {{ range .Params.projets }}
                    <li class="link"><a href="{{.link}}">{{ .nom }}</a></li>
                {{ end }}
                </ul>

            </aside>
        </section>
        {{ end }}

        {{ partial "contact.html" . }}

    </main>
{{end}}