{{ define "main" }}
	<main data-page="actu_list" class="--page">
		<h1 class="sr-only">Les dernières Actualités</h1>
		{{ $paginator := .Paginate ( where .Site.RegularPages "Section" "actu") }}

		{{ $counter := 0 }}
		{{ range $paginator.Pages }}

			{{ $redux := false }}
			{{ $counter = add $counter 1 }}

			{{ if gt ( len (.Content | markdownify) ) 500 }}
				{{ $redux = true }}
			{{ end }}

			{{ if $redux }}
			<input type="checkbox" id="--show_{{$counter}}" hidden>
			{{ end }}

	        <article id="{{.Title | safeURL}}" aria-label='Publication du {{ partial "date.html" . }}'>
	        	<header>
	        		{{ partial "date.html" . }}
	        		<h2><a href="{{ .Permalink }}">{{.Title}}</a></h2>
	        	</header>
	                
<!-- 	            {{ $context := . }}
	            {{ if $context.Params.iframe }}
	            	<div class="iframe-container">
	            		{{ $context.Params.iframe | safeHTML}}
	            	</div>
	            {{ else }}
		            {{ with .Page.Resources.Match $context.Params.cover.file }}
		                {{ range . }}
		                    {{ partial "img" (dict "context" . "alt" $context.Params.cover.alt) }}
		                {{ end }}
		            {{ end }}
	            {{ end }}
 -->
				{{ if $redux }}
					<label for="--show_{{$counter}}" aria-hidden>{{ partial "svg" "arrow_scroll" }} Lire d'avantage</label>
				{{ end }}

				<div class="container">
					{{.Content}}
				</div>

				{{ partial "share.html" (.Permalink | relURL) }}

	        </article>
	    {{ end }}

	    {{ if gt $paginator.TotalPages 1 }}
			<ul class="pagination">
				{{ if $paginator.HasPrev }}
  					<li class="--prev">
    					<a href="{{ $paginator.Prev.URL }}" aria-label="accéder à la page précédente">{{ partial "svg" "arrow_prev" }}
    					</a>
    				</li>
				{{ end }}
			  {{ range $paginator.Pagers }}
			  		<li class="{{ if eq $paginator.PageNumber .PageNumber }}current{{ end }}">
			    		<a href="{{ .URL }}" aria-label="accéder à la page numéro {{ .PageNumber }}">
			    			{{ .PageNumber }}
						</a>
					</li>
				{{ end }}
				{{ if $paginator.HasNext }}
  					<li class="--next">
    					<a href="{{ $paginator.Next.URL }}"  aria-label="accéder à la page suivante">{{ partial "svg" "arrow_next" }}
    					</a>
    				</li>
				{{ end }}				
			</ul>
		{{ end }}
	</main>
{{end}}

{{ define "scripts" }}
	{{ $js := resources.Get "lib/share-button.min.js"}}
    <script src="{{ $js.Permalink }}"></script> 
{{end}}