{{ define "main" }}
	<main data-page="actu" class="--page">
		<a href="/actu" class="goto --back" title="Retour aux projets">Retour aux actus</a>		
		<article id="{{.Title | safeURL}}">
	    	<header>
	    		{{ partial "date.html" . }}
	    		<h1><a href="{{ .Permalink }}">{{.Title}}</a></h1>
	    	</header>

<!--                 
            {{ $context := . }}
            {{ if $context.Params.iframe }}
            	<div class="iframe-container">
            		{{ $context.Params.iframe | safeHTML}}
            	</div>
            {{ else }}
	            {{ with .Page.Resources.Match $context.Params.cover.file }}
	                {{ range . }}
	                    {{ partial "img" (dict "context" . "alt" $context.Params.cover.alt) }}
	                {{ end }}
	            {{ end }}
            {{ end }} -->

			<div class="container">
				{{.Content}}
			</div>
			{{ partial "share.html" . }}
	    </article>
	</main>
{{ end}}

{{ define "scripts" }}
	{{ $js := resources.Get "lib/share-button.min.js"}}
    <script src="{{ $js.Permalink }}"></script> 
{{end}}