[data-page="actu_list"]{
	
	@media screen{
			
		.pagination{
			margin-bottom: $baseline*3;
			text-align: center;
			li{
				@include f1(1, 0, $normal, $cr);
				display: inline-block;
				width: $unite*1.5;
				padding: $baseline .5em .5em .5em;
				text-align: center;
				box-sizing: border-box;
				cursor: pointer;

				&.--prev, &.--next{top: .25em;}

				&.current{
					border-bottom: 1px solid currentColor;
				}
			}
			svg{width: $unite*.75;}

			@include for-size(desktop){
				text-align: left;
				li{
					@include f1(0, 0, $normal, $crk);
					width: $unite;
					svg{width: $unite*.5;}
				}
			}
		}

		article .container{
			width: 100%;
			max-height: none;
			transition: .5s ease-in-out;

			figure, img, iframe{
				display: none;
			}
		}

		input[id^="--show"] + article .container:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: $baseline*0;
			width: 100%;
			opacity: 0;
			transition: .25s ease-in-out;
			background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,0) 100%);
		}

		input[id^="--show"]:not(:checked) + article .container{
			max-height: $baseline*12;
			overflow-y: hidden;
			&:after{
				opacity: 1;
				height: $baseline*8;
			}

		}
		input[id^="--show"]:checked + article {
			.container{
				figure, img, iframe{display: inherit;}
			}
			label[for^="--show"]{display: none;}
		}

		label[for^="--show"]{
			@include f1(0, 0, $normal, $crk);
			padding: $baseline*.25 0;
			position: absolute;
			bottom: $baseline*5;
			left: 0;
			cursor: pointer;
			transform: translateY(0);
			transition: .25s ease-in-out;
			z-index: 5;

			&:before{
				content: "";
				position: absolute;
				top: -.5em;
				left: 0;
				height: 1px;
				width: $unite*2;
				border-top: 1px solid $cr;
			}

			svg{
				height: 1em;
				top: .1em;
				margin-right: .5em;
				transition: top .25s ease-in-out;
			}

			&:hover + .container:after{
				//bottom: -$baseline;
				//height: $baseline*4;
			}

			&:hover svg{ top: .5em}

			@include for-size(desktop-1400){
				bottom: $baseline;
			}
		}
	}
}