body.contact{
	&, #topbar{
		--cc: #{$cw};
		--bg: #{$cr};
	}

	::selection, ::-moz-selection {
	  background-color: #{$cw};
	  color: #{$cr};
	}
}

[data-page="contact"]{
	
		address, .social{ margin-bottom: $baseline*2};
		address{
			font-style: normal;
			h3{@include f1(0);}
			p{	
				@include f1(2);
				margin-bottom: $baseline;
			}
		}

	.social{
		li{
			display: inline-block;
			width: $unite;
			padding: $baseline*.25 $baseline*.25 $baseline*.25 0 ;
			cursor: pointer;
			transition: .25s ease-in-out;
		}
		&:hover{
			li:not(:hover){ opacity: .5;}
		}
	}

	.boogie{
		display: inline-block;
		svg{
			padding: $baseline 0 $baseline 0;
			max-width: $unite*7;
			width: 100%;
		}

		svg, p{ display: block;}
		
		a.goto{
			color: currentColor;
			&:hover{color: $cw;}
		}
	}

	& > svg{
		position: relative;
		width: $unite*3;
		grid-column: 1;
	}

	@media screen{

		.boogie{
			color: white;
			border-top: 1px solid currentColor;
		}

	@include for-size(desktop-900){
		padding-left: var(--force);
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto 1fr;
			gap: $baseline*3  $baseline ;
			.container{
				width: 100%;
				grid-column: span 2;
			}
			address, .social{
				margin-bottom: inherit;
				max-width: 20rem;
				grid-row: 1;
			}
			.boogie{grid-row: 2;}
		}
	}
	
}