[data-page="equipe"], [data-page="historique"]{

	@media screen{
		max-width: 60rem;
		.intro{@include f1(2);}
	}

	.personne{
		display: inline-block;
		box-sizing: border-box;
		vertical-align: top;

		figure{
			border-radius: 50%;
			overflow: hidden;
			margin-bottom: $baseline;
			img{
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		h3, p[aria-label="Nom"]{
			@include f1(1, 0, $bold, $crk);
		}


		p{
			@include f1(1);
		}
		section.others h2{
			@include f1(2,0, $bold);
		}

		[aria-label="Role"]{
			font-weight: $bold;
		}

		[aria-label="Contact"]{
			li{
				display: inline-block;
				padding-right: 1rem;
				margin-right: .5rem;
				text-transform: capitalize;

				a{
					color: $crk;
					text-decoration: underline;
					text-decoration-skip-ink: auto;
				}

				&:not(:last-of-type){
					&:after{
						content: "";
						position: absolute;
						right: 0;
						top: 10%;
						width: 1px;
						height: 80%;
						border-right: $border;
					}
				}
			}
		}
	}

	section[data-member="false"]{display: none;}

	section.membres .personne{
			width: 100%;
	}
	section.others{
		h2{
			margin-bottom: $baseline*.5;
		}

		li{
			padding-left: calc(max(var(--forceOffset), 2rem));
			&:before{
				content: "×";
				position: absolute;
				left: 0;
				color: currentColor;
			}
		}
	}
}

@media screen{
	[data-page="equipe"], [data-page="historique"]{
		.personne {
			padding-right: $unite*2;
			margin-bottom: $baseline*2;
			figure{
				width: 15rem;
				height: 15rem;
			}

			[aria-label="Role"]{
				margin-bottom: $baseline;				
				max-width: 24rem;
			}
		}
		section.membres .personne{
			max-width: 25rem;
			&.large{max-width: 37.5rem;}
		}
		
		@include for-size(desktop-900){
			section.membres ul{
				display: flex;
				flex-wrap: wrap;
			}
		}
	}
}