body.index{

	#intro{
		width: 100%;
		@include flex;
		@include flex-direction(row);
		@include justify-content(flex-start);
		@include align-items(center);

		h1{
			--cc: #{$cr};
			padding: $baseline*3 $unite $baseline*3 0;
			z-index: 2;

			svg{
				width: $baseline*3;
				padding: $baseline/2 0;

				display: block;
				transform: translateX(-10%);
			}
		}
	}

	#reclame{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include f1(1, 0, $bold, $cw);
		padding: $base*4 $unite;
		box-sizing: border-box;
		background: $cr;

		img{
			max-height: $base*14;
			margin: 0 $unite/2; 
		}
	}

	#vision,  #references, #actu{
		margin: $baseline*2 0;
	}

	#vision{
		@include f1(1);

		.container{
			em{
				font-style: normal;
				color: #{$crk}
			}
		}
		svg{ 
			margin: auto;
			display: block;
		}
	}

	#offre{
		counter-reset: li;

		> ul{

			> li{
				width: 100%;
				margin-bottom: $baseline*2;
				&::before {
				  counter-increment: li; 
				  content: counter(li);
				  @include f1(3,0,$bold, $cg);
				  font-size: 8rem;
				  line-height: 1.1em;
				  transform: translateY(0);
				  display: inline-block;
				  transition: transform .3s ease-in, opacity .2s ease-in-out .1s;
				}

				h3{
				  @include f1(1,0,$bold, $crk);
				  margin-top: $baseline;
				}

				li{
					color: $crk;
					padding-left: $unite;
					&:before{
						content: "×";
						position: absolute;
						left: 0; //calc( var(--forceOffset) * .5);
						color: currentColor;
					}
				}
			}
		}
	}

	#references{
		ul{
			
			@include flex();
			@include flex-wrap(wrap);
			@include justify-content(start);

			&::after {
			  content: "";
			  flex: auto;
			}
			
			li{
				width: $unite*3.5;
				height: $unite*3.5;
				padding: 1rem;
				vertical-align: middle;
				box-sizing: border-box;
				@include flex-direction(row);
				@include align-items(center);	

				img{
					max-height: $unite*3;
					width: 100%;
					height: 100%;
					object-position: center;
					object-fit: contain;
				}			

			}
		}
	}


	@media screen{
		section{
			padding: $baseline #{$unite/2};

			h2{
				@include f1(3, 0, $bold, #{$crk} );
			}
		}

		#intro{
			background: $cg;
			min-height: 100vh;
			box-sizing: border-box;

			h1{
				max-width: 50rem;
				@include f1( 2, 0, $bold, var(--cc) );
			}

			$iw: 9rem;
			svg[class^="icon"]{
				position: absolute;
				width: $iw;
				z-index: 0;
				color: white;
			}

			svg.icon-i { top: 85vh;animation: 40s ease-in 0s infinite reverse both running move;}
			svg.icon-i-two { top: 4vh; animation: 30s ease-in 0s infinite reverse both running move;}
			svg.icon-canne { top: 15vh; animation: 80s ease-in 0s infinite both running move;}
			svg.icon-velor {top: 33vh;animation: 10s ease-in 0s infinite reverse both running move;}
			svg.icon-femme-e {top: 20vh;animation: 25s ease-in 0s infinite both running move;}
			svg.icon-velo-sol { top: 60vh;animation: 15s ease-in 0s infinite both running move;}
			svg.icon-velo-tri {	top: 80vh;	animation: 20s ease-in 0s infinite reverse both running move;}
			svg.icon-velo-chariot {	top: 70vh;	animation: 8s ease-in 0s infinite both running move;}
			svg.icon-couple {top: 75vh;	animation: 70s ease-in 0s infinite reverse both running move;}
			svg.icon-f-roulant {top: 55vh;	animation: 60s ease-in 0s infinite both running move;}

			/*Animations*/
			@-webkit-keyframes move {
			    0% { left: calc(#{$iw} * -1);}
			    100%{ left: calc(100vw + #{$iw});}
			}
		}

		#vision,  #references, #actu{
			max-width: 80rem;
		}

		#vision{
			@include f1(1);
			.container{ max-width: 40rem; }
			svg{ width: calc(min(100%, 20rem));}
		}

		#offre > ul > li {
			max-width: 25rem;
		}

		@include for-size(desktop){
			#intro h1{
				@include f1(3, 0, $bold, var(--cc) );
			}
		}
	 
		@include for-size(desktop-900){
			#vision{
				svg{
					display: inline-block;
				}
			}

			#offre{
				> ul {
					@include flex;
					@include flex-direction(row);
					gap: $unite*2;

					> li{
						&:after{
							content: "";
							border-left: .5px solid $crk;
							height: calc(100% - 10rem);
							width: 1px;
							position: absolute;
							top: 10.5rem;
							left: $unite*-.5;
						}

						&:nth-of-type(2)::before{ transition-delay: .2s;}
						&:nth-of-type(3)::before{ transition-delay: .4s;}

					}
				}
				&.offScreen{
					> ul > li::before{
						transition: none;
						transform: translateY(25rem);
						opacity: 0;
					}
				}
			}
		}
	
		@include for-size(desktop-1200){

			section{
				padding-left: var(--force);	
			}

			#intro{
					
				h1{
					@include f1( 4, 0, $bold, var(--cc) );
					padding-left: 0;
				}
			}


			#reclame{
				position: absolute;
				top: calc(100vh);
				left: 0;
				transform: translateY(-100%);

				justify-content: start;
				padding: $baseline $unite $baseline var(--force);

				img{
					position: absolute;
					transform: translateX(-200%);
				}
			}

			#vision{@include flex;}

			#references{
				ul{
					li{
						width: $unite*5.5;
						height: $unite*5.5;
						img{max-width: $unite*4.5;max-height: $unite*3;}	
					}
				}			
			}
		}		
	}

	@media print{

		section{ 
			page-break-after: always;
		}

		#intro{
			height: 200mm;

			h1{
				@include f1( 3, 0, $bold, var(--cc) );
			}
		}

		#vision{
			svg{ width: 100mm}
		}
	}	
}