body{
	main{
		padding-right: $unite/2;
		padding-left: $unite/2;
		min-height: calc(100vh - #{$baseline*1} - #{$baseline*10});
		@include for-size(desktop-900){padding-right: $unite;}
	}
}

.--page{

	.intro p a, .container p a{
		color: $crk;
		text-decoration: underline;
		text-decoration-skip-ink: auto;
	}
	.intro, article .container p.intro, section .container p.intro{

	}

	header{
		max-width: 800px;
		h1 strong{ display: block;}
	}

	article, section{
		> figure{
			width: 100%;
			margin-bottom: $baseline*3;
			left: 0; 

			img{
				width: 100%;
				height: 100%;
				aspect-ratio: 16/9;
				object-fit: cover;
			}
		}

		.container, aside{
			display: inline-block;
		}

		.container{
			width: 100%;
			p, li {@include f1(1)}
			
			h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, ul + p, figure + p, br + p, hr + p, .intro + p{ text-indent: 0 !important;}
			
			h2{ 
				@include f1(1, 0, $bold, currentColor);
			}
			h3{@include f1(1, 0, $bold, $crk);}
			h4{@include f1(1, 0, $normal, currentColor);}
			h5{@include f1(1, 0, $normal, currentColor); text-transform: uppercase; letter-spacing: .4px;}

			ul{
				li{
					&:before{
						content: "×";
						position: absolute;
						left: 0;
						color: currentColor;
					}
				}
			}

			ol{
				li{
					left: 1rem;
					padding-left: calc(max(var(--forceOffset), 2rem));
				}
			}


			blockquote{
				margin-left: var(--forceOffset);
				max-width: 40rem;

				p{
					&:before, &:after{
						 content: "—";
						 display: block;

					}
					@include f1(2, 0, $normal, $cr, italic);
				}
			}

			hr{
				border: 1px solid $cg;
				margin: $baseline*2 0 $baseline*2 0;
			}

			img{
				width: auto;//
				max-width: 100%;
				height: auto;
				margin: $baseline 0;
				@include for-size(desktop-900){
					left:  calc(var(--forceOffset) * -1);
				}
			}

			iframe{
				width:100%;
				height:100%;
				aspect-ratio: 16/9;
				margin: $baseline 0;

			}

			aside.accordion{

				&:before{
					content: "";
					position: absolute;
					left: 0;
					width: $unite*3;
					border-top: $border;
					border-color: $cr;
					color: currentColor;
				}
				>ul{
					>li{
						color: $crk;
						&:before{
							content: "→";
							transform: rotate(0);
							transition: .25s ease-in-out;
						}
						&:hover:before,
						&:has(details[open]):before{
							transform: rotate(90deg);
						}

						details > summary {
							cursor: pointer; 
							font-weight: $bold;
						  list-style: none;
						}
						details > summary::-webkit-details-marker {
						  display: none;
						}
					}
				}
			}				
		}

		> aside:not(.share):not(.details){
			width: 100%;

			&:before{
				content: "";
				position: absolute;
				left: 0;
				width: $unite*3;
				border-top: $border;
				border-color: var(--cc);
				color: currentColor;
			}

			*{ @include f1(1);}

			h3{
				@include f1(1, 0, $bold);
				padding: $baseline/2 0;
			}

			
			ul{
				li{
					padding-left: calc(max(var(--forceOffset), 2rem));
					&:before{
						content: "→";
						position: absolute;
						left: 0;
						color: currentColor;
					}

					a:hover{
						color: $cr;
						padding-left: $unite*.5;
					}
				}
			}	
		}
	}
}

@media screen{
	.--page{
		//*{transition: .25s ease-in-out;}

		header{
			margin-bottom: $baseline*2;
			padding-left: var(--forceOffset);
			.date, .flag, h1 strong{
				@include f1(0, 0, $bold, #{$crk});
			}

			h1, h2{
				@include f1(3, 0, $bold, var(--cc) );
			}
		}

		.carrousel .wrapper{
			height: 100%;
		}

		.intro, article .container p.intro, section .container p.intro{		
			margin-bottom: $baseline*2;
		}

		article, section{
			margin-bottom: $baseline*5;
			aside.accordion{
				margin-top: $baseline*3;
				> ul > li{
					margin: 0;
					*{ margin: 0;}
				}
			}
			.container{
				max-width: 60rem;
				padding-right: $unite;
				margin-bottom: $baseline*2;

				> * {max-width: 45rem;}
				h1, h2, h3, h4, h5, h6{	margin: $baseline 0 $baseline*.5 0;}
				h2{
	 				padding-left: var(--forceOffset);
				 	margin-top: $baseline*2;
				 }
				> p:not(:first-of-type){text-indent: calc(max(var(--forceOffset), 2rem));}
				> ul > li{
					padding-left: calc(max(var(--forceOffset), 2rem));
				}

				ul, ol{	margin: $baseline 0; }

				aside.accordion {
					> ul  li{
						padding-left: calc(max(var(--forceOffset), 2rem));
						
						details{
							margin: 0;
							transition: margin .25s ease;
							summary{
								transition: margin .25s ease;
								margin-bottom: 0;
							}
						}
						
						details[open]{
							margin-bottom: $base*4;

							summary{
								margin-bottom: $base*4;
							}
						}
					}			
				}
			}

			> aside:not(.share):not(.details){
				min-width: 12rem;				
				max-width: 20rem;
			}
		}

		@include for-size(desktop-900){
			padding-left: calc(var(--force));
			max-width: 75rem !important;

			header{
				.date, .flag{
					position: absolute;
					left: calc( (var(--force)  * -1) + #{$unite/2});
					top: 1rem;
					width: var(--force);
				}
			}

			article, section{

				
				> figure{
					left: calc(var(--forceOffset) * -1);
				}
			}
		}

		@include for-size(desktop-1400){

			article, section{
				.container{
					+ aside{
						vertical-align: top;
						position: absolute;
						right: 0;
					}

				}
			}
		}

		@include for-size(desktop-1800){
			article, section{
				> figure{
					width: calc(100% + #{$unite*4});
				}
			}
		}
	}
}