[data-page^="projet"]{
	header svg{
		width: 1.5rem;
		padding-left: .5rem;
		path{
			fill: none;
			stroke: $cr;
			stroke-width: 1px;
		}
	}
}	

[data-page="projet"]{

	header{margin-bottom: 0;}

	.container{
		margin-bottom: $baseline*3;
		p.intro{ 
			font-weight: $bold;
		}
		p, li, td{@include f1(1);}

		h2{
			margin-top: $base*4;
			@include f1(1,0, $bold);
		}
	}

	.details{
		display: block;
		border-spacing: 0;
		border-collapse: collapse;

		tbody > tr{
			border-bottom: 1px solid #f3f3f3;
			min-width: 20rem;
			display: block;
			vertical-align: top;

			&:first-of-type {
				border-top: $border;
				max-width: 0px;
			}

			> td{
				background-color: transparent;
				border: none;
				padding: $baseline*.25 0 $baseline*.25 0;
				@include f1(0);				

				a{
					text-decoration: underline;
					text-decoration-ink-skip: auto;
					transition: .25s ease-in-out;

					&:hover{color: $cr;}
				}

				&:first-of-type {
				  color: $crk;
				  padding-right: $unite*.5;
				}
			}
		}
	}
}

[data-page="projet_list"]{
	#list{
		li{
			border-bottom: $border;

			a{display: block;}

			header{
				h1{
					padding-right: 1.5em;
					.commanditaire{
						display: block;
					}

					svg{right: 0;}
				}
			}
		}
	}	
}



@media screen{

	[data-page^="projet"]{
		max-width: 75rem;
		margin-bottom: $baseline*7;

		@include for-size(desktop-900){
			padding-left: calc(var(--force));
		}

		article, li{
			header{
		
				h1{ 
					@include f1(2, -1, $bold);
					display: inline-block;
				}

				.commanditaire{ 
					@include f1(0, 0, $normal);
					margin-top: $baseline*.125;
				}
				.subtitle{ 
					@include f1(2, 0, $normal, currentColor, italic);
					margin: $baseline*.5 0;
					:empty {display: none;}
				}

				svg{
					top: .25em;
					position: absolute;
				}
			}
		}
	}

	[data-page="projet"]{	

		a.--back{
		 	@include f1(0,0, $normal, $cgg);
		 	margin-bottom: $baseline*1;
		 	&:hover{color: $cr}
		 	&::before{content: "←";}
		 	svg{
		 		width: $baseline*2;
		 		* {stroke-width: 0.025rem;}
		 	}
	 	}

		.carrousel{
			margin: $baseline 0;
			grid-row: 1;
			grid-column: span 2;

			.caption{display: none;}
		}

		article{

			.container p{
				max-width: 45rem;
				&.intro{
					margin-bottom: $baseline; 
				}
			}	

			header svg{
				right: 0;
			}	 

			.details{
				//@include f1(0);
				//font-size: .9em;

				tbody > tr{
					min-width: 20rem;

					> td {
						min-width: 10rem;
					}
				}
			}
		}



		@include before-size(desktop-900){
			header h1{
				padding-right: $unite;
			}
		}

		@include for-size(desktop-900){
			article{

				&.open{
					display: grid;
					grid-template-columns: 2fr 1fr;
					grid-template-rows: repeat(3, auto);
					gap: $unite*.5;

					header h1{ @include f1(3, 0, $bold)}
				}
				header{
					grid-row: 1;
					grid-column: 1/3;
				}

				.carrousel{
					grid-row: 2;
					grid-column: span 2;
					width: calc(100% + var(--forceOffset));
					left: calc(var(--forceOffset) * -1);
				}

				> .container{
					grid-row: 3;
					grid-column: 1 / 2;
				}
				.details{
					grid-row: 3;
					grid-column: 2 /3;
				}
			}
		}

		@include for-size(desktop-1400){
			article{
				.carrousel{
					width: calc(100% + var(--forceOffset) * 2);
				}
			}
	 		article header svg{
	 			width: $unite*1;
	 			right: unset;
	 			top: $base*3;
	 			left: $unite*-.25;
	 		}
	 	}
	}

	[data-page="projet_list"]{
		> fieldset{
			@include f1(0, 0, $normal);
			text-align: center;
			margin: $baseline 0;
			border: none;
			label{
				display: inline-block;
				width: auto;
				padding: 0 .5em;
				margin-bottom: $baseline*.5;
				cursor: pointer;
				&:before{
						content: '';
						position: absolute;
						left: 50%;
						bottom: $baseline*-.25;
						width: 0;
						height: 1px;
						transform: translateX(-50%);
						transition: .25s ease-in-out;
						border-bottom: 0.5px solid var(--cc);
				}
			}
		}

		> ul#list > li header{padding: $baseline*.5 0;}

		input#all_project:checked{
			& ~ fieldset label[for="all_project"]{
				font-weight: $bold;
				&:before{
					width: 100%;
				}
			}
		}

		input#self_initiatied_project:checked{
			& ~ fieldset label[for="self_initiatied_project"]{
				font-weight: $bold;
				&:before{
					width: 100%;
				}
			}

			& ~ #list li:not([data-self_initiatied="true"]){ display: none; }
		}
		input#commercial_project:checked{
			& ~ fieldset label[for="commercial_project"]{
				font-weight: $bold;
				&:before{
					width: 100%;
				}
			}
			& ~ #list li[data-self_initiatied="true"]{ display: none; }
		}	
	}
}
