<div class="carrousel" data-index ="0">
	<div class="wrapper">
		{{ $scratch := newScratch  }}
		{{ range $index, $element := .Page.Resources }}
			{{ if not (in $element.Name "cover") }}
				{{ if eq $element.ResourceType "image" }}
					{{ partial "img" (dict "context" $element "alt" $element.Name) }}
					{{ $scratch.Set "index" $index }}
				{{ else if eq .ResourceType "video" }}
					{{ partial "video" $element }}
					{{ $scratch.Set "index" $index }}
				{{end}}
			{{end}}
		{{end}}
	</div>

	{{ with .Params.legendes }}
		<div class="caption">
			{{ range $index, $element := . }}
				<p>{{$index}} — {{ $element }}</p>
			{{ end }}
		</div>
	{{ end }}

	<button type="button" title="Diapositive précédente" class="--previous disable" aria-label="Diapositive précédente" data-direction="prev" onclick="slide(this)" data-limit="0" data-item='{{$scratch.Get "index" }}'>
		{{ partial "svg" "arrow_prev" }}
	</button>
	<button type="button" title="Prochaine diapositive" class="--next" aria-label="Prochaine diapositive" data-direction="next" onclick="slide(this)" data-limit='{{$scratch.Get "index" }}' data-item='{{$scratch.Get "index" }}'>
		{{ partial "svg" "arrow_next" }}
	</button>
</div>