<aside class="contact" aria-label="Nous contacter">
    <h2>Restons en contact</h2>
    <address> 
        <ul>
            <li>
                <h3>Nous parler</h3>
                {{$v := split .Site.Data.global.telephone "" }}
				{{$rv := partial "obfuscate.html" $v }}
                <p ><a href="" aria-label="telephone" class="obf" data-obf='{{ delimit $rv "" }}'></a></p>
            </li>
            <li>
                <h3>Nous écrire</h3>
                {{$v := split .Site.Data.global.mail "" }}
				{{$rv := partial "obfuscate.html" $v }}
				<p ><a href="" aria-label="mail" class="obf" data-obf='{{ delimit $rv "" }}'></a></p>
            </li>
            <li>
                <h3>Nous rencontrer</h3>
                <p aria-label="adresse">{{ $.Site.Data.global.adresse }}</p>
            </li>
        </ul>
    </address>

    <a class="goto" href="/equipe" aria-label="Aller à la page équipe">Découvrir notre équipe</a>
</aside>

{{ define "scripts" }}
    <script type="text/javascript">obf()</script> 
{{ end}}