{{ $mymonths := index $.Site.Data.date }}
{{ $verbe := shuffle (slice "Rédigé" "Écrit" "Publié") }}

<p class="date">
	<time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}'>
	<span class="dispensable">{{ .Date.Day }} {{ index $mymonths (printf "%d" .Date.Month) }} {{ .Date.Year }}
	</time>
</p>	
