<footer aria-label="Pied de page">
	{{ partial "svg" "praxie_picto" "main_picto" }}
	
	<div id="pied_page" aria-label="Mentions">
		<p>{{ if eq .Section "projets"}}Projet&thinsp;<span class="sep">|</span>{{ end }}{{ .Title | markdownify }}{{ if eq .Params.type "portfolio"}}<span class="sep">|</span>Présentation{{ end }}</p>
		<p class="date" >{{ now.Format "2006" }}</p>
	</div>

	<div class="mentions" aria-label="Mentions">
		<p>Praxie Design – {{ now.Year }}<br>Tous droits réservés</p>
		<p><a href="/mentions">Mentions légales</a></p>
	</div>

	<div id="newsletter_container" aria-label="Inscription à la newsletter">
		<p class="disclaimer">Des nouvelles fraiches, deux fois par an.</p>
		<form 
		  method="POST" 
		  action="https://script.google.com/macros/s/AKfycbytppybZ"
		  id="newsletter">
			<label for="newsletterEmail" class="sr-only">Votre nom</label>
		  <input id="newsletterEmail" name="Email" type="email" placeholder="Adresse mail" required>
			<label for="newsletterName" class="sr-only">Votre email</label>
		  <input id="newsletterName" name="Name" type="text" placeholder="Nom" required>
		  <button type="submit" title="Valider l'inscription">{{ partial "svg" "arrow_next" }}</button>
		</form>
	</div>
</footer>
