<meta property="og:title" content='{{ if eq .Params.type "index"}}Praxie Design — {{end}}{{ .Title }}' />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary | truncate 180 }}{{ else }}{{ with $.Site.Data.global.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{ with $.Resources.Match .Params.cover.file }}
  {{ range . }}
      {{ $ogImg := .Resize "1400x webp q30" }}
      <meta property="og:image" content="{{ $ogImg.Permalink }}" />
  {{ end }}
{{ else }}
  {{ $images := $.Resources.ByType "image" }}
  {{ with $images }}
    {{ range $images | first 1 }}
      {{ if eq .MediaType.SubType "svg" }}
        <meta property="og:image" content="{{ $.Site.BaseURL }}social/default.webp"/>
      {{ else }}
        {{ $ogImg := .Resize "1400x webp q30" }}
        <meta property="og:image" content="{{ $ogImg.Permalink }}" />
      {{ end }}
    {{ end }}
  {{ else }}
      <meta property="og:image" content="{{ .Site.BaseURL }}social/default.webp"/>
  {{ end }}
{{ end }}

{{ if .IsPage }}
{{ $iso8601 := "2006-01-02T15:04:05-07:00" }}
<meta property="article:section" content="{{ .Section }}" />
{{ with .PublishDate }}<meta property="article:published_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{ with .Lastmod }}<meta property="article:modified_time" {{ .Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{ end }}

{{ with .Params.audio }}<meta property="og:audio" content="{{ . }}" />{{ end }}
{{ with .Params.locale }}<meta property="og:locale" content="{{ . }}" />{{ end }}
{{ with .Site.Params.title }}<meta property="og:site_name" content="{{ . }}" />{{ end }}

{{ with .Params.videos }}{{ range . }}
<meta property="og:video" content="{{ . | absURL }}" />
{{ end }}{{ end }}

{{ $permalink := .Permalink }}
{{ $siteSeries := .Site.Taxonomies.series }}
{{ with .Params.series }}{{ range $name := . }}
  {{ $series := index $siteSeries ($name | urlize) }}
  {{ range $page := first 6 $series.Pages }}
    {{ if ne $page.Permalink $permalink }}<meta property="og:see_also" content="{{ $page.Permalink }}" />{{ end }}
  {{ end }}
{{ end }}{{ end }}

{{ with .Site.Social.facebook_admin }}<meta property="fb:admins" content="{{ . }}" />{{ end }}