{{ with .Params.details }}
	<table class="details">
		<tbody>
			{{ with .Date }}
				<tr>
					<td>Date</td>
					<td>{{ . }} </td>
				</tr>
			{{ end }}

			{{ with .Equipe }}
				<tr>
					<td>Équipe</td>
					{{ if reflect.IsSlice  . }}
						<td>{{ delimit  . ", " | markdownify}} </td>
					{{ else }}
						<td>{{ .  | markdownify}} </td>
					{{ end }}
				</tr>
			{{ end }}

			{{ with .Commanditaire }}
				<tr>
				{{ if reflect.IsMap . }}
					<td>{{ .nature }}</td>
					<td>{{ .nom }}</td>
				{{ else }}
					<td>Commanditaire</td>
					<td>{{ . }}</td>						
				{{ end }}
				</tr>
			{{ end }}

			{{ with .Misc }}
				{{ if reflect.IsSlice  . }}
						{{ range . }}
							<tr>
								{{ range . }}
								<td>{{ . }}</td>
								{{ end  }}
							</tr>
						{{ end }}
				{{ else }}
					<tr>
						{{ range . }}
						<td>{{ . }}</td>
						{{ end  }}
					</tr>				
				{{ end }}			
			{{ end }}
		</tbody>
	</table>
{{ end }}
