<aside class="share">
  <h3>Partager</h3>
  <div class="action-share requireJs">          
    <ul class="share-btn" data-title="Partager cette page" data-url="https://praxiedesign.com{{ . }}">
      <li>
        <a data-id="tw"
          aria-label="Partager cette page sur Twitter"
          title="Partager cette page sur Twitter">{{ partial "svg" "social/tw" "" }}</a>
      </li>
      <li>
        <a data-id="fb"
          aria-label="Partager cette page sur Facebook"
          title="Partager cette page sur Facebook">{{ partial "svg" "social/fb" "" }}</a>
      </li>
      <li>
        <a data-id="in"
          aria-label="Partager cette page sur LinkedIn"
          title="Partager cette page sur LinkedIn">{{ partial "svg" "social/in" "" }}</a>
      </li>
      <li>
        <a data-id="copy"
          aria-label="Copier le lien de cette page"
          title="Copier le lien de cette page">{{ partial "svg" "social/copy" "" }}</a>
      </li>
    </ul>
  </div>
</aside>

