<input type="checkbox" name="mobileOpen" id="mobileOpen" hidden>
<header id="topbar" aria-label="Barre de navigation">
	<label for="mobileOpen" aria-label="Ouvrir le menu"></label>
	<nav aria-label="Liste des principales pages">
		<ul >
			<li class="index">
				<a href="/" aria-label="Revenir sur la page d'accueil">{{ partial "svg" "praxie_logo" "main_logo" }}</a>
			</li>
			<li class="pages" 
					role="none">
				<ul role="none">
					<li class="vision"><a href="/vision" aria-label="Accéder à la page Vision">vision</a></li>
					<li class="equipe"><a href="/equipe" aria-label="Accéder à la page équipe">équipe</a></li>
					<li class="offre"><a href="/offre" aria-label="Accéder à la page Offre">offre</a></li>
					<li class="projets"><a href="/projets" aria-label="Accéder à la liste des projets">projets</a></li>
					<li class="actu"><a href="/actu" aria-label="Accéder aux dernières actualité">actu</a></li>
					<li class="contact"><a href="/contact" aria-label="Accéder à la page Contact">contact</a></li>
				</ul>
			</li>
		</ul>
	</nav>

</header>
