{{ with $.Resources.Match .Params.cover.file }}
  {{ range . }}
      {{ $ogImg := .Resize "800x webp q75" }}
      <meta name="twitter:card" content="summary_large_image"/>
      <meta name="twitter:image" content="{{ $ogImg.Permalink }}" />
  {{ end }}
{{ else }}
  {{ $images := $.Resources.ByType "image" }}
  {{ with $images }}
    {{ range $images | first 1 }}
      {{ if eq .MediaType.SubType "svg" }}
        <meta name="twitter:image" content="{{ $.Site.BaseURL }}social/default.webp"/>
      {{ else }}
        {{ $ogImg := .Resize "800x webp q75" }}
        <meta name="twitter:image" content="{{ $ogImg.Permalink }}" />
      {{ end }}
    {{ end }}
  {{ else }}
      <meta name="twitter:image" content="{{ $.Site.BaseURL }}social/default.webp"/>
  {{ end }}
{{ end }}

<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with $.Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end -}}"/>

{{ with $.Site.Data.global.social.twitter -}}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end -}}


