<!-- video -->
<figure>
  <video loop muted controls>
      <source src="{{ .Permalink}}" type="video/{{ .MediaType.SubType }}" >
      Désolé, votre navigateur ne supporte pas les videos
  </video>
</figure> 
<!-- video -->
