{{ define "main" }}
	<section id="intro" aria-label="Introduction générale">

		<h1>{{ partial "svg" "praxie_picto" "" }}
			{{ .Params.baseline | markdownify }}
		</h1>

		{{ partial "svg" "praxito/i" "" }}
		{{ partial "svg" "praxito/i-two" "" }}
		{{ partial "svg" "praxito/canne" "" }}
		{{ partial "svg" "praxito/couple" "" }}
		{{ partial "svg" "praxito/femme-e" "" }}
		{{ partial "svg" "praxito/velo-chariot" "" }}
		{{ partial "svg" "praxito/velo-sol" "" }}
		{{ partial "svg" "praxito/velo-tri" "" }}
		{{ partial "svg" "praxito/velor" "" }}
	</section>

	<div id="reclame">
		{{ .Params.reclame | safeHTML }}
	</div>

	<section id="vision" aria-label="Introduction à notre Vision">
		<div class="container">
			{{ .Params.vision | markdownify }}

			<a class="goto" href="/vision">Découvrir notre vision</a>
		</div>
		{{ partial "svg" "venn_diagram" "" }}
	</section>

	<section id="offre" aria-label="Introduction à notre offre">
		<h2>Offre</h2>
		<ul>
		{{ range .Params.offre }}
			<li>
				<h3>{{ .service }}</h3>
				<div>{{ .description | markdownify }}</div>
			</li>
		{{ end }}
		</ul>
		<a class="goto" href="/offre">Découvrir notre offre</a>
	</section>
	
	<section id="references" aria-label="Quelques une de nos Références">
		<h2>Références</h2>
		<ul>
		{{ range where .Site.Pages "Section" "clients"}}
	        {{ range .Page.Resources }}
	        <li >
				<img src="{{ .Permalink }}" loading="lazy" alt='{{ replace ( replace (replace ( substr .Name 0 -4 ) "-RVB-Noir" "") "-" " " ) "_" " " }}'>
	        </li>
			{{end}}
	    {{ end }}
	    </ul>		
	</section>
{{end}}

{{ define "scripts" }}
    <script type="text/javascript">homeEvent()</script>
{{ end}}