{{ define "main" }}
	<main data-page="contact">

 		<h1 class="sr-only">{{ .Title }} </h1>		
		
		<h2 class="sr-only">Nous contacter</h2>
		<address>
			<h3>Nous parler</h3>
			{{$v := split .Site.Data.global.telephone "" }}
			{{$rv := partial "obfuscate.html" $v }}
			<p ><a href="" aria-label="telephone" class="obf" data-obf='{{ delimit $rv "" }}'></a></p>
			<h3>Nous écrire</h3>
			{{$v := split .Site.Data.global.mail "" }}
			{{$rv := partial "obfuscate.html" $v }}
			<p ><a href="" aria-label="mail" class="obf" data-obf='{{ delimit $rv "" }}'></a></p>
			<h3>Nous rencontrer</h3>
			<p aria-label="adresse">{{.Site.Data.global.adresse}}</p>
		</address>

		<h2 class="sr-only">Nous trouver sur les réseaux sociaux</h2>
		<ul class="social">
			<li>
				<a  href="https://www.linkedin.com/company/{{.Site.Data.global.social.linkedin}}" 
					target="_blank" 
					rel="noopener noreferrer"  
					title="Accéder à la page LinkedIn de Praxie Design">
					{{ partial "svg" "social/in" "" }}
				</a>
			</li>
			<li>
				<a  href="https://twitter.com/{{.Site.Data.global.social.twitter}}" 
					target="_blank" 
					rel="noopener noreferrer"  
					title="Accéder à la page Twitter de Praxie Design">
					{{ partial "svg" "social/tw" "" }}
				</a>
			</li>
		</ul>

		<aside class="boogie">
			<h2 class="sr-only">A propos du Boogie</h2>
			{{ partial "svg" "boogie" "" }}
			{{ .Params.boogie | markdownify }}
			<a href="https://boogie.praxiedesign.com" class="goto" target="_blank" rel="noopener noreferrer">Découvrir le Boooogie&#8239;?</a>
		</aside>
		{{ partial "svg" "praxito/velor" "" }}
	</main>
{{ end}}

{{ define "scripts" }}
    <script type="text/javascript">obf()</script> 
{{ end}}