<svg class=".icon-i" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
	<g id="pxt-8" fill="currentColor">
		<path d="M97.4,133h-6.8v-6.8h18.7l0,25.5l-11.9,0V133z"/>
		<polygon points="109.4,122.8 97.4,122.8 97.4,110.9 109.4,110.9"/>
	</g>
</svg>

<svg class="icon-canne" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
	<g  id="pxt-7" fill="currentColor">
		<polyline points="98.2,101.9 90.5,109.6 75.3,124.8 75.3,140 75.3,151.7 91.1,151.7 91.1,131.3 100.9,121.5 
				112.1,132.6 120.5,124.3 		"/>
		<rect x="105.6" y="89.8" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -35.8536 108.8929)" width="15.8" height="15.8"/>
		<rect x="112.6" y="135.4" width="5.2" height="16.3"/>
	</g>
</svg>

<svg class="icon-velor" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
	<g id="pxt-6" fill="currentColor">
		<path d="M65.4,112.2c0.4,0,0.9,0,1.3,0.1l6.9-20.8l9.2,3.1L76,115.3c5.5,3.5,9.2,9.7,9.2,16.7
			c0,10.9-8.8,19.8-19.8,19.8s-19.8-8.8-19.8-19.8S54.5,112.2,65.4,112.2z"/>
		<polygon points="85.9,92.1 80.9,81.4 109.5,67.9 126.6,104.3 112.3,111 112.3,111 102.9,115.4 102.9,132 91,132 
			91,105.8 91,105.7 106.4,98.5 100.2,85.4 	"/>
		
		<rect x="88.5" y="50.9" transform="matrix(0.9048 -0.4258 0.4258 0.9048 -15.8455 46.6533)" width="15.8" height="15.8"/>
		<circle cx="128.9" cy="132" r="19.8"/>
	</g>
</svg>

<svg class="icon-femme-e" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
	<g id="pxt-5" fill="currentColor">
		<rect x="93" y="84.6" width="15.8" height="15.8"/>
		<path d="M122.8,127.9c0-6.6-5.4-12-12-12c-0.3,0-0.6,0-0.8,0l-1.3-9.7l-31.6,0v11.9H93L87,151.7h27.7l-1.6-12.1
			C118.7,138.6,122.8,133.8,122.8,127.9z"/>
	</g>
</svg>

<svg class="icon-velo-sol" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">	
	<g id="pxt-4" fill="currentColor">
		<ellipse transform="matrix(0.9772 -0.2125 0.2125 0.9772 -26.7516 15.1085)" cx="56.9" cy="132" rx="19.8" ry="19.8"/>
		<path d="M46.4,111.7c2.3-0.9,4.6-1.3,6.9-1.4c-4.3-1.9-9.4-2.1-14.1-0.2c-9.6,3.7-14.3,14.5-10.5,24.1
			c1.8,4.6,5.2,8.1,9.4,10c-1.4-1.7-2.5-3.6-3.4-5.7C30.5,127.8,35.8,115.9,46.4,111.7z"/>
		
		<ellipse transform="matrix(0.9732 -0.2298 0.2298 0.9732 -26.2368 38.6418)" cx="152.8" cy="132" rx="19.8" ry="19.8"/>
		<rect x="57.8" y="84.5" width="15.8" height="15.8"/>
		<polygon points="91.3,104.4 101.8,92.6 92.9,84.7 72,108.4 98.8,132 98.8,132 126.8,132 126.8,118.2 107,118.2"/>
	</g>
</svg>

<svg class="icon-velo-tri" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
	<g id="pxt-3" fill="currentColor">
		
		<ellipse transform="matrix(0.4125 -0.9109 0.9109 0.4125 -45.7008 193.1014)" cx="126.9" cy="132" rx="19.8" ry="19.8"/>
		<path d="M137.4,111.7c-2.3-0.9-4.6-1.3-6.9-1.4c4.3-1.9,9.4-2.1,14.1-0.2c9.6,3.7,14.3,14.5,10.5,24.1
			c-1.8,4.6-5.2,8.1-9.4,10c1.4-1.7,2.5-3.6,3.4-5.7C153.2,127.8,148,115.9,137.4,111.7z"/>
		<path d="M63.4,112.2c0.4,0,0.9,0,1.3,0l6.9-20.8l9.2,3.1l-6.9,20.7c5.5,3.5,9.2,9.7,9.2,16.7
			c0,10.9-8.8,19.8-19.8,19.8s-19.8-8.8-19.8-19.8C43.7,121.1,52.5,112.2,63.4,112.2z"/>
		<polygon points="83.9,92.1 78.9,81.4 107.5,67.9 124.6,104.3 110.3,111 110.2,111 100.9,115.4 100.9,132 89,132 89,105.8 89,105.7 104.4,98.5 98.2,85.4 	"/>
		<rect x="86.5" y="50.9" transform="matrix(0.9048 -0.4258 0.4258 0.9048 -16.0373 45.7966)" width="15.8" height="15.8"/>
	</g>
</svg>

<svg class="icon-i-two" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
	<g id="pxt-2" fill="currentColor">
		<path d="M116.8,118.2H101v-11.9l31.6,0v45.4h-15.8V118.2z"/>
		<rect x="116.8" y="84.6" width="15.8" height="15.8"/>
		<path d="M54.7,133.2l3.9,1.5c1.3,5.9,6.5,10.3,12.8,10.3c7.2,0,13.1-5.9,13.1-13.1c0-5.4-3.3-10.1-8-12l2.5-6.2 c7.2,3,12.2,10,12.2,18.3c0,10.9-8.8,19.8-19.8,19.8c-10.9,0-19.8-8.8-19.8-19.8L54.7,133.2z"/>
		<rect x="69" y="94.8" transform="matrix(0.3671 -0.9302 0.9302 0.3671 -46.1472 132.7645)" width="11.1" height="11.1"/>
		<polygon points="58.4,122.4 62.5,112 57.9,110.2 60.3,104.2 76.4,110.6 69.9,126.9 67.3,133.6 55.8,129.1 48.6,126.3 51.2,119.6"/>
	</g>
</svg>

<svg class="icon-couple" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">
	<g id="pxt-1" fill="currentColor">
		<path d="M69.8,118.2H54v-11.9l37.5,0l-5.9,45.4H69.8V118.2z"/>
		<rect x="69.8" y="84.6" width="15.8" height="15.8"/>
		<polyline points="111.3,151.7 117.2,118.2 101.4,118.2 101.4,106.3 133,106.3 139,151.7 		"/>
		<rect x="117.2" y="84.6" width="15.8" height="15.8"/>
	</g>
</svg>

<svg class="icon-velo-chariot" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve">	
	<g id="pxt-0" fill="currentColor">
		<polygon points="84.5,92.1 89.6,81.4 61,67.9 43.9,104.3 58.2,111 58.2,111 67.6,115.4 67.6,132 79.4,132 79.4,105.8 79.4,105.7 64.1,98.5 70.2,85.4 	"/>
		<rect x="66.1" y="50.9" transform="matrix(0.4258 -0.9048 0.9048 0.4258 -10.6665 100.7318)" width="15.8" height="15.8"/>
		<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -81.1528 68.0579)" cx="41.6" cy="132" rx="19.8" ry="19.8"/>
		<ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -44.6981 156.0672)" cx="166" cy="132" rx="19.8" ry="19.8"/>
		<polygon points="98.8,106.3 94.8,94.5 85.6,97.6 88.6,106.7 88.6,144 137,144 148.1,106.3 	"/>
	</g>
</svg>
