/* desktop */
$unite: 2rem;
$topbar: $baseline*3.5;

/* Print */
$m-top : $base*15;
$m-bottom : $base*7;
$m-left : 7mm;
$m-right : 7mm;

$p-height: 210mm;

/*  bordures  */
$border: 0.5px solid var(--cc);
$border-light: 0.5px solid #efefef;


:root{
  --force: #{$unite*10};
  --force: calc(clamp(#{$unite*5}, 20vw, #{$unite*10}));
  --forceOffset: ;
  --forceOffset: calc(clamp(0rem, calc(15vw - 10rem), #{$unite*1.5}));
}

/*  autre */
::selection, ::-moz-selection{
    background: var(--cc);
    color: var(--bg);
}