// Mobile Breakpoints
@mixin for-size($size) {
	@if $size == phone {
		@media screen and (max-width: 700px) { @content; }
	} @else if $size == desktop {
		@media screen and (min-width: 700px) { @content; }
	} @else if $size == desktop-900 {
		@media screen and (min-width: 900px) { @content; }
	}@else if $size == desktop-1000 {
		@media screen and (min-width: 1000px) { @content; }	
	}@else if $size == desktop-1100 {
		@media screen and (min-width: 1100px) { @content; }
	} @else if $size == desktop-1200 {
		@media screen and (min-width: 1200px) { @content; }
	} @else if $size == desktop-1200 {
		@media screen and (min-width: 1200px) { @content; }
	} @else if $size == desktop-1300 {
		@media screen and (min-width: 1300px) { @content; }
	} @else if $size == desktop-1400 {
		@media screen and (min-width: 1400px) { @content; }
	} @else if $size == desktop-1500 {
		@media screen and (min-width: 1500px) { @content; }		
	} @else if $size == desktop-1800 {
		@media screen and (min-width: 1800px) { @content; }
	} @else if $size == desktop-1921 {
		@media screen and (min-width: 1921px) { @content; }
	}
}
@mixin before-size($size) {
	@if $size == desktop-900 {
			@media screen and (max-width: 899px) { @content; }	
	} @else if $size == desktop-1200 {
			@media screen and (max-width: 1199px) { @content; }	
	}
}