$font-1: "Raleway", sans-serif;
$base: .2rem;
$baseline: $base*9;
$font-size: $base*6;

$normal: 400;
$bold: 600;

html{font-size: 100%; font-weight: $normal;}
@include for-size(desktop-1921) {
  @media (-webkit-device-pixel-ratio: 1) {
    html{font-size: 150%;}
  }
}

body{
  font-size: 18px;
  //@media print{font-size: 10px;}
  line-height: $baseline;
  //@supports not (font-variation-settings : normal){
  font-family: $font-1;
  font-weight: $normal;
  color: var(--cc);
  /*}
  @supports (font-variation-settings : normal){
    font-family: $font-1v;
    font-variation-settings: "wght" 300;
  }*/
}


// Main

@mixin f1($s, $l: 0, $w: $normal, $color: currentColor, $sy: normal, $ls: 0){
    @if $w == bolder{ $w: $bold; }

    font-family: $font-1;
    font-weight: $w;
    font-style: $sy;
    letter-spacing: #{$ls}em;
    color: $color;

    @if($s == 0){
      line-height: #{$base * (7 + $l)};
      font-size: $base*5;
      @media print{
        line-height: #{$base * (4 + $l)};
        font-size: $base*2.5;
      } 
    } @else if( $s == 1){
      line-height: #{$base * (9 + $l)};
      font-size: $base*6;
      @media print{
        line-height: #{$base * (5 + $l)};
        font-size: $base*3.5;
      }     
    } @else if( $s == 2){
      line-height: #{$base * (12 + $l)};
      font-size: $base*8;
      @media print {
        line-height: #{$base * (10 + $l)};
        font-size: $base*7;    
      }
    } @else if( $s == 3){
      line-height: #{$base * (15 + $l)};
      font-size: $base*12;
      @media print {
        line-height: #{$base * (16 + $l)};
        font-size: $base*16;    
      }      
    } @else if( $s == 4){
      @media screen{
        font-size: calc(clamp( #{$base*14}, 4vw, #{$base*20}));
        line-height: 1.2em;
      }
    } @else if(){
      font-size: $base*$s;
      line-height: #{$base*$s + $base*$l};
    }
}