#topbar{
	display: none;
}

// grid
//article:after{ background-size: $baseline calc(#{$base*5}) ;content: "";position: fixed;width: 100%;height: 100%;top: 0px;left: 0;z-index: -1; background-image:   linear-gradient(to bottom, magenta .5px, transparent .5px);}

/* PRINT */

@page {
	size: A4 landscape;
	margin: $m-top $m-left $m-bottom $m-right;
	font-size: 10px;
	padding-bottom: $m-bottom;
}

body > section{
	min-height: calc(#{$p-height} - #{$m-bottom} - #{$m-top});
	height: 100%;
}

//*{border: .5px solid black;}

footer{

	position: fixed;
	bottom: -$base;
	left: 0;
	padding: 0;
	padding-top: $base;
	display: grid;
	height: $baseline;
	width: 100%;
	grid-template-columns: repeat(6, 1fr);
	align-items: center;
	grid-gap: 0 4mm;
	z-index: 5;

	&:before{
		content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
    position: absolute;
	}


	.mentions,
	#newsletter_container{
		display: none;
	}

	#pied_page{
		grid-column: 2 / span 5 ;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 0 4mm;
		
		p{
			//top: $base*2.5;
			grid-row: 1;
			@include f1(0);
			.sep{
				color: $cr;
				padding: 0 $unite/2;
			}
		}

		.date{grid-column: 5}
	}

	> svg{
		--cc: #{$cr};
		grid-column: 1;
		width: 4mm;
		margin-right: $unite/2;
	}
}

// typo reset
main{
	// extra space pied de page
	padding-bottom: 10mm;

	header{
		h1{
      line-height: $base*13;
      font-size: $base*10;
		}
	}

	.container{
		ul{ margin: $base*2 0 !important;}
	}
}

