[data-page="equipe"], [data-page="historique"]{

	> section{
		page-break-after: always;
		//min-height: 210mm;
	}

	> *{
		margin-left: 16.666%;
	}

	ul{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0 4mm;
		page-break-after: always;
	}

	> .intro{
		@include f1(2, 0)
		width: 200mm;
		margin-bottom: $baseline*2;
	}
	.personne {

		&.large{
			grid-column: span 2;
		}

		&:not(.large){
			grid-column: span 1;
		}

		[aria-label="Role"]{
			margin-bottom: $base*4;
		}

		ul{
			li{
				@include f1(1,0, $bold, $cr)
			}
		}

		figure{
			width: 40mm;
			height: 40mm;
		}
	}

	h2{
		@include f1(2, 0)
		margin-bottom: $baseline*1.5;

	}
}