.--page{

	article .container p.intro, section .container p.intro{		
		max-width: 140mm;
		margin-bottom: $base*4;
		font-weight: $bold;
	}

	> .intro{
		page-break-after: always;
		@include f1(2, 0)
		width: 200mm;
	}

	article, section{
		page-break-after: always;
		header{
			h1{margin-bottom: $base*4}
			h1, h2{font-weight: $bold;}
		}

		.container{
			h1, h2, h3, h4, h5, h6{	margin: $base*4 0 $base*2 0;}
			h2{
				padding-left: 6mm;
			}
			h1, h2 {font-weight: $bold;}
			//h1, h2, blockquote { column-span: all;}

			ul, ol{	margin: $base*4 0; }

			hr{
				page-break-after: always;
				border: none;
			}

			> p:not(:first-of-type){text-indent: 6mm;}

			h1 {margin-bottom: $base*4;}
	
			ul li{
				padding-left: 6mm;
			}



			aside.accordion{
				margin-top: $baseline*1;

				> ul { 
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					grid-gap: 0 4mm;
					> li {
						grid-column: span 2;
						padding: 0;
						&:before{content: inherit;}
						&,*{
							page-break-inside: avoid;
							page-break-before: avoid;
						}
						h4, label{page-break-after: avoid;}
						div{
							margin-bottom: $base*4;
						}
					}
				}
			}
		}

	}
	&:not([data-page="projet"]){
		height: calc(100% - #{$m-top}  - #{$m-bottom} - 20mm);

		article, section{
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-gap: 0 4mm;

			header{
				margin-bottom: $baseline;
				grid-column: 2 / span 3;

				.flag{
					position: absolute;
    			left: -33.333%;
    			top: 0.75rem;
    			@include f1(1,0, $bold,$cr)
				}
			}			
			figure{
				grid-column: 2 / span 4;
			}
			.container{
				grid-column: 2 / span 4;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 0 4mm;

				> *:not( aside.accordion){grid-column: span 3}
				> aside.accordion{grid-column: span 4}
			}
		}
	}
}


