body.portfolio{

	#cover{
		height: calc(#{$p-height} - #{$m-bottom} - #{$m-top});
		
		h1{
			@include f1(3, 0 , $bold, $ck)
		}
		p{
			@include f1(2,0, normal, $cr)
			grid-column: 3 / span 2;
			grid-row: 3;
		}

		svg {
			grid-column: 3;
			grid-row: 4;
			width: 40mm;
			left: -1.5mm;
			align-self: end;	
			*{fill: $cr;}
		}
	}

	.chapter{
		page-break-after: always;
		display: grid;
		grid-template-rows: auto 2rem auto 40mm 10mm;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: $baseline 4mm;		
		h1{
			grid-column: 3 / span 3;
			grid-row: 2;
			@include f1(3, 0, $bold, $cr)
		}
	}

	#last{
		height: 100%;
		grid-template-rows: 30mm auto 80mm 2rem 10mm;
		align-items: end;
		page-break-after: auto; // avoid extra blank page

		h1{
			@include f1(4, -10, normal, $cr);
			font-size: $base*60;
			line-height: 70%;
			grid-row: 2;
		}

		address{
			grid-row: 3;
			&:nth-of-type(1){ grid-column: 3 / span 1;}
			&:nth-of-type(2){ grid-column: 4 / span 1;}

			*{@include f1(1);}
			em{
				font-style: normal;
				font-weight: $bold;
				color: $cr;
			}
		}

		> p{ 
			@include f1(2, 0, $bold, $cr);
			grid-column: 3;
			grid-row: 4;			
		}
	}
}