[data-page="projet"]{	
	a.--back{display: none;}
	
	margin: 0 !important;
	padding: 0;
	height: calc(#{$p-height} - #{$m-bottom} - #{$m-top});

	article{
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr) !important;
		//grid-template-rows: auto auto auto !important;
		grid-gap: $baseline/2 5mm;

		header{
			grid-row: 1;
			grid-column: 1/2;
			//width: calc(100% + 20mm);
			position: relative;
			
			h1{ 
				font-weight: $bold;
	      line-height: $base*7.5;
	      font-size: $base*6.5;
	      margin-bottom: $base*4;
				display: inline-block;
			}

			.flag{
				@include f1(0,0,$bold, $cr);
				margin-bottom: .175rem;
			}

			.commanditaire{ 
				@include f1(0, 0, $normal);
				margin-top: $baseline*.125;
			}
			.subtitle{ 
				@include f1(2, 0, $normal, currentColor, italic);
				margin: $baseline*.5 0;
				&:empty {display: none;}
			}

			// Picto auto-initié
			svg{
				//position: absolute;
  			//right: -10mm;
  			width: 6mm;
  			left: -2mm;
			}
		}

		.medias{
			grid-row: 1/ 3 span;
			grid-column: 4/7;
			left: inherit;
			width: 100%;
			height: 100%;
			margin: 0;
			button{display: none;}

			// inner grid
			.wrapper{
				grid-template-columns: repeat(3, 1fr);
				//grid-template-rows: repeat(4, 29mm);
				grid-template-rows: min-content auto;
				grid-gap: $baseline/2 $baseline/2;
				display: grid;
				overflow: hidden;
				width: 100%;
				height: 100%;

				figure{
					display: none;

					&,*{
						height: 100%;
						width: 100%;
						max-height: 120mm;
					}
					&:first-of-type{
						display: inline-block;

						grid-column: span 3;
						//grid-row:  span 3;
						grid-row:  1;
					}
					&:nth-of-type(2),
					&:nth-of-type(3),
					&:nth-of-type(4){
						display: inline-block;
						grid-column: span 1;
						//grid-row: span 1;
						grid-row: 2;
					}
					img{
						object-position: top left;
    					object-fit: contain;
					}
				}
			}

			.caption{
				  position: absolute;
			    bottom: 0;
			    right: -1px;
			    padding: $base*2 2mm;
			    width: 45mm;
			    background: white;
				p{
					@include f1(0,0, $bold);

					&:not(:first-of-type):not(:nth-of-type(2)):not(:nth-of-type(3)){
						display: none;
					}
				}
			}
		}

		.details{
			grid-column: 1 / 2;
	    grid-row: 1/4;
	    align-self: end;
	    margin-bottom: $base;

			tbody >tr{
				min-width: 100%;
				padding-top: $base;
				border-width: .25pt;
				&:first-of-type{
					padding-top: $base*2;
				}
				&:not(:first-of-type){}
				& > td{
					padding: $base 0;
					min-width: 20mm;
					&:first-of-type{width: 20mm; }
				}
			}


		}
		.container{
			grid-column: 2 / span 2;
			grid-row: 1 / span 3;
			margin: 0;
			overflow: hidden;
			aspect-ratio: inherit;
			top: $base*2.25; // match the h1 baseline next to it

			p.intro{
				margin-bottom: $base*4; 
			}				
		}
	}
}

[data-page="projet_list"] {
	page-break-after: always;
	> ul[role="navigation"]{display: none;}

	> ul#list{

		column-count: 2;
		
		> li header{
			padding: $baseline*.25 0;
			h1{ 
				@include f1(0, -1, $bold);
				display: inline-block;
				vertical-align: top;
		    //line-height: $base*5.5;
		    //font-size: $base*4;					
				//opacity: .2;
			}

			.commanditaire{ 
				@include f1(0, 0, $normal);
				margin-top: $baseline*.125;

			}
			.subtitle{ 
				@include f1(2, 0, $normal, currentColor, italic);
				margin: $baseline*.5 0;
				&:empty {display: none;}
			}

			svg{
				width: 3mm;
				position: absolute;

			}
		}
	}
}